Repository cmu-argus-2/FSW-mainboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ibrassow, @Akshat412, @kmkar31, @achstar, @perrintong325

updated dh functions with try catch
  flight/core/data_handler.py
Owners: @Ibrassow

updated hal monitor to only restore when sd card avilable and new individual reboot intervals
  flight/tasks/hal_monitor.py
Owners: @perrintong325

updated object wrapper
  flight/hal/drivers/bno085.py
  flight/hal/drivers/objectWrapper.py
  flight/tasks/hal_monitor.py
Owners: @perrintong325

updated object wrapper
  flight/hal/drivers/objectWrapper.py
Owners: @perrintong325

updated emulator failure prob file
  emulator/drivers/failure_prob.py
  emulator/drivers/imu.py
  emulator/drivers/rtc.py
  emulator/drivers/sun_sensor.py
  emulator/drivers/torque_coil.py
Owners: @kmkar31, @Ibrassow

testing stuff
  flight/hal/argus_v3.py
  flight/hal/drivers/sx126x.py
Owners: @perrintong325

fixed temp disabled bug
  flight/hal/argus_v3.py
Owners: @perrintong325

.github/CODEOWNERS:

# Framework
/flight/core @Ibrassow
/flight/core/task_configuration.py @Akshat412 @kmkar31 @Ibrassow
/flight/core/time_processor.py @Akshat412 @kmkar31 @Ibrassow

# Apps
/flight/apps/adcs @kmkar31 @Ibrassow
/flight/apps/comms @Akshat412 
/flight/apps/eps @achstar @Akshat412 
/flight/apps/telemetry @Akshat412 @Ibrassow
/flight/apps/payload @Ibrassow
/flight/apps/command @Ibrassow @Akshat412 

# HAL
/flight/hal @perrintong325
/firmware @perrintong325

# Tooling
.github/workflows @kmkar31
/build_tools @perrintong325 
/emulator @kmkar31 @Ibrassow

# Tasks
/flight/tasks/adcs.py @kmkar31
/flight/tasks/comms.py @Akshat412
/flight/tasks/command.py @Ibrassow @Akshat412
/flight/tasks/payload.py @Ibrassow
/flight/tasks/obdh.py @Ibrassow
/flight/tasks/gps.py @Akshat412
/flight/tasks/eps.py @achstar
/flight/tasks/watchdog.py @perrintong325
/flight/tasks/hal_monitor.py @perrintong325

# Admin
.github/CODEOWNERS @Ibrassow
