Repository cmu-argus-2/FSW-mainboard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ibrassow, @Akshat412, @kmkar31, @achstar, @perrintong325

not temp disabled
  flight/hal/cubesat.py
Owners: @perrintong325

Fixed NotImplementedError
  flight/apps/command/commands.py
Owners: @Ibrassow, @Akshat412

show dirty or clean commit (#288)
  build_tools/build.py
Owners: @perrintong325

Comms: DOWNLINK_ALL CMD + File Time Fixes (#269)
  flight/apps/command/commands.py
  flight/apps/command/constants.py
  flight/apps/command/processor.py
  flight/apps/comms/comms.py
  flight/tasks/comms.py
Owners: @Ibrassow, @Akshat412

Move sd card files to flash (#290)
  scripts/sd_to_flash.py
Owners: none

restoring dead device
  flight/hal/cubesat.py
  flight/tasks/hal_monitor.py
Owners: @perrintong325

turn off watchdog with peripheral
  flight/hal/argus_v3.py
  flight/hal/cubesat.py
Owners: @perrintong325

catch device that died or disappear mid operation
  flight/hal/cubesat.py
Owners: @perrintong325

akshat doesnt like clean code
  flight/tasks/command.py
Owners: @Ibrassow, @Akshat412

running at 5hz
  flight/core/task_configuration.py
  flight/tasks/hal_monitor.py
Owners: @Akshat412, @kmkar31, @Ibrassow, @perrintong325

Added SIL errors to Torque Coils
  emulator/cubesat.py
  emulator/drivers/diagnostics/__init__.py
  emulator/drivers/diagnostics/diagnostics.py
  emulator/drivers/errors.py
  emulator/drivers/middleware/__init__.py
  emulator/drivers/middleware/exceptions.py
  emulator/drivers/torque_coil.py
  emulator/emulator.py
Owners: @kmkar31, @Ibrassow

Adding SIL errors for light sensors
  emulator/cubesat.py
  emulator/drivers/sun_sensor.py
  emulator/drivers/torque_coil.py
  emulator/emulator.py
  flight/tasks/hal_monitor.py
Owners: @kmkar31, @Ibrassow, @perrintong325

SIL Errors for RTC
  emulator/drivers/rtc.py
  emulator/emulator.py
  flight/hal/drivers/pcf8523.py
Owners: @kmkar31, @Ibrassow, @perrintong325

SIL Errors for IMU
  emulator/cubesat.py
  emulator/drivers/imu.py
  emulator/emulator.py
  flight/tasks/hal_monitor.py
Owners: @kmkar31, @Ibrassow, @perrintong325

Renaming and offset to mainboard temp
  flight/apps/eps/eps.py
  flight/apps/telemetry/constants.py
  flight/tasks/eps.py
Owners: @achstar, @Akshat412, @Ibrassow

Added tools to debug MEKF
  emulator/drivers/rtc.py
  emulator/emulator.py
  emulator/simulator.py
  flight/apps/adcs/ad.py
  flight/apps/adcs/orbit_propagation.py
  flight/tasks/adcs.py
Owners: @kmkar31, @Ibrassow

Added register for SX1262 RX gain
  flight/hal/drivers/sx126x.py
Owners: @perrintong325

Set RX mode to be high gain
  flight/hal/drivers/sx126x.py
Owners: @perrintong325

Fixed bug in RX gain function
  flight/hal/drivers/sx126x.py
Owners: @perrintong325

WDT being funny, turning off until review ready
  flight/hal/drivers/sx126x.py
  flight/tasks/watchdog.py
Owners: @perrintong325

Added registers for AGC
  flight/hal/drivers/sx126x.py
Owners: @perrintong325

Linter fix
  flight/tasks/watchdog.py
Owners: @perrintong325

Enabled WDT again
  flight/tasks/watchdog.py
Owners: @perrintong325

All registers for AGC
  flight/hal/argus_v3.py
  flight/hal/drivers/sx126x.py
Owners: @perrintong325

AGC tuning
  flight/hal/drivers/sx126x.py
Owners: @perrintong325

Added debug function for AGC
  flight/hal/drivers/sx126x.py
Owners: @perrintong325

Debug function for AGC config
  flight/hal/drivers/sx126x.py
Owners: @perrintong325

REG_GAIN register only for AGC config, not high power RX
  flight/hal/drivers/sx126x.py
Owners: @perrintong325

added object wrapper for function call errors and hal monito minor bug fixes
  emulator/drivers/errors.py
  emulator/drivers/sun_sensor.py
  flight/hal/argus_v3.py
  flight/hal/cubesat.py
  flight/hal/drivers/errors.py
  flight/hal/drivers/objectWrapper.py
  flight/hal/drivers/opt4001.py
  flight/hal/drivers/opt4003.py
  flight/tasks/hal_monitor.py
Owners: @kmkar31, @Ibrassow, @perrintong325

removed unused errors
  flight/hal/drivers/bmx160.py
  flight/hal/drivers/errors.py
Owners: @perrintong325

updated sil with removed errors
  emulator/drivers/errors.py
  emulator/drivers/imu.py
  emulator/drivers/sun_sensor.py
Owners: @kmkar31, @Ibrassow

fixed object wrapper init
  flight/hal/argus_v3.py
Owners: @perrintong325

changed watchdog ordering to avoid accidental trigger
  flight/tasks/watchdog.py
Owners: @perrintong325

imu emulator fix
  emulator/drivers/imu.py
Owners: @kmkar31, @Ibrassow

removed dead code and updated asil threshold
  flight/hal/argus_v3.py
  flight/hal/drivers/drv8235.py
Owners: @perrintong325

6 hour reboot time
  flight/tasks/hal_monitor.py
Owners: @perrintong325

wait cycles
  flight/tasks/watchdog.py
Owners: @perrintong325

icnreased watchdog frequency
  flight/core/task_configuration.py
  flight/tasks/watchdog.py
  hal_monitor.txt
Owners: @Akshat412, @kmkar31, @Ibrassow, @perrintong325

updated to try catch dh graceful shutdown if sd card not available so we can still reboot
  flight/tasks/hal_monitor.py
Owners: @perrintong325

changes
  flight/core/data_handler.py
  flight/hal/argus_v3.py
  flight/hal/drivers/bno085.py
  flight/hal/drivers/objectWrapper.py
  flight/tasks/hal_monitor.py
Owners: @Ibrassow, @perrintong325

.github/CODEOWNERS:

# Framework
/flight/core @Ibrassow
/flight/core/task_configuration.py @Akshat412 @kmkar31 @Ibrassow
/flight/core/time_processor.py @Akshat412 @kmkar31 @Ibrassow

# Apps
/flight/apps/adcs @kmkar31 @Ibrassow
/flight/apps/comms @Akshat412 
/flight/apps/eps @achstar @Akshat412 
/flight/apps/telemetry @Akshat412 @Ibrassow
/flight/apps/payload @Ibrassow
/flight/apps/command @Ibrassow @Akshat412 

# HAL
/flight/hal @perrintong325
/firmware @perrintong325

# Tooling
.github/workflows @kmkar31
/build_tools @perrintong325 
/emulator @kmkar31 @Ibrassow

# Tasks
/flight/tasks/adcs.py @kmkar31
/flight/tasks/comms.py @Akshat412
/flight/tasks/command.py @Ibrassow @Akshat412
/flight/tasks/payload.py @Ibrassow
/flight/tasks/obdh.py @Ibrassow
/flight/tasks/gps.py @Akshat412
/flight/tasks/eps.py @achstar
/flight/tasks/watchdog.py @perrintong325
/flight/tasks/hal_monitor.py @perrintong325

# Admin
.github/CODEOWNERS @Ibrassow
